body {
    font-family: Arial, sans-serif;
    background-color: #f2efe9;
    text-align: center;
    margin-top: 60px;
}
h1 {
    color: #5a3825;
}
button {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #6f4e37;
}
.menu {
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background: #fff8f0;
}
.menu h2 {
    color: #6f4e37;
}
.menu p {
    font-size: 16px;
    color: #333;
}
footer{
    margin-top: 50px;
    font-size: 14px;
    color: #777;
}